body{
    font-family:Segoe UI,Arial,sans-serif;
    background:#f4f6f9;
    margin:0;
}

.header{
    background:linear-gradient(
        90deg,
        #01244a 0%,
        #0a3f63 40%,
        #11566b 100%
    );
    color:white;
    padding:16px 28px;
    display:flex;
    align-items:flex-start;
    gap:14px;
    box-shadow:0 2px 8px rgba(0,0,0,.15);
}

.logo-circulo{
    width:22px;
    height:22px;
    border:5px solid white;
    border-right-color:transparent;
    border-radius:50%;
    flex-shrink:0;
    margin-top:2px;
}

.titulo-header{
    font-size:18px;
    font-weight:700;
    line-height:1.1;
    color:white;
}

.subtitulo-header{
    margin-top:4px;
    color:#13D3D8;
    font-size:13px;
}

.contenido{
    padding:20px;
}
.sow-banner{
    margin:12px 14px;
    padding:16px 20px;
    border-radius:10px;

    background:linear-gradient(
        90deg,
        #17256b 0%,
        #232f7d 35%,
        #2a327f 100%
    );

    display:flex;
    justify-content:space-between;
    align-items:center;

    box-shadow:0 3px 10px rgba(0,0,0,.15);
}

.sow-banner-left{
    display:flex;
    align-items:center;
    gap:16px;
}

.sow-icon{
    width:54px;
    height:54px;
    border:3px solid #13D3D8;
    border-radius:12px;

    display:flex;
    align-items:center;
    justify-content:center;

    color:#13D3D8;
    font-weight:700;
    font-size:28px;
}

.sow-banner-titulo{
    color:white;
    font-size:22px;
    font-weight:700;
    line-height:1;
}

.sow-banner-subtitulo{
    margin-top:6px;
    color:#e5e7eb;
    font-size:14px;
}

.sow-fecha{
    background:white;
    padding:10px 16px;
    border-radius:10px;
    min-width:190px;
}

.sow-fecha label{
    display:block;
    font-size:13px;
    font-weight:600;
    color:#344054;
    margin-bottom:6px;
}

.sow-fecha input{
    border:none;
    width:100%;
    font-size:14px;
    color:#667085;
    outline:none;
}
