<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOW - Solicitud de Iniciativa</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="header-container"></div>
    <div id="sow-documento" class="sow-page portal-background">

<div class="sow-hero">
    <div class="sow-hero-left">
        <div class="sow-hero-icon">
            <span class="material-symbols-outlined">
                description
            </span>
        </div>
        <div class="sow-hero-content">
            <h1>
                SOW - Solicitud de Iniciativa
            </h1>
            <p>
                Convertimos una necesidad de negocio
                en soluciones ejecutables y medibles.
            </p>
        </div>
    </div>
    <div class="sow-hero-right">
        <div class="sow-fecha-card">
            <span class="material-symbols-outlined">
                calendar_month
            </span>
            <div>
                <label>
                    Fecha de solicitud
                </label>
                <span id="fecha-actual">
                </span>
            </div>
        </div>
    </div>
</div>
        
<div class="seccion-card">
    <div class="seccion-titulo">
        <div class="seccion-letra">
            A
        </div>
        <h2>INFORMACIÓN GENERAL</h2>
    </div>
    <div class="informacion-general">
        <div class="columna">
            <div class="campo">
                <div class="campo-label">
            <span class="material-symbols-outlined icono">
                    edit_square
            </span>
            <label>Nombre de la iniciativa</label>
        </div>       
        <input type="text">        
    </div>

            <div class="campo">
                <div class="campo-label">
            <span class="material-symbols-outlined icono">
                apartment
            </span>
            <label>Área solicitante</label>
        </div>        
        <input type="text">        
    </div>

            <div class="campo">
                <div class="campo-label">
                    <span class="material-symbols-outlined icono">
                        account_tree
                    </span>
                    <label>Dirección</label>
                </div>
                <select>
                    <option>Seleccionar...</option>
                    <option>Administración y Finanzas</option>
                    <option>Negocios y Canales</option>
                    <option>MásNómina / CMO</option>
                    <option>Crédito y Operaciones</option>
                    <option>Jurídico y Cumplimiento</option>
                    <option>Relaciones Institucionales</option>
                    <option>Tecnología y Datos</option>
                    <option>Capital Humano</option>
                    <option>Estrategia</option>
                    <option>Banca de Gobierno</option>
                    <option>Crédito Mayoristas</option>
                    <option>Hub de Innovación</option>
                    <option>Riesgo Ctrl Interno</option>
                    <option>No clasificado</option>
                </select>
            </div>            
            
            <div class="campo">
                <div class="campo-label">
                    <span class="material-symbols-outlined icono">
                        star
                    </span>
                    <label>Epic Owner</label>
                </div>
                <select>
                    <option>Seleccionar...</option>
                    <option>Sergio Olivero</option>
                    <option>Rubén Cohen</option>
                    <option>Carlos Budar</option>
                    <option>Agustín Nava</option>
                    <option>Gaby Hernández</option>
                    <option>Christian Carreón</option>
                    <option>Miguel Matus</option>
                    <option>Rosaura Flores</option>
                    <option>Alfredo Flores</option>
                </select>
            </div>
            
            <div class="campo">
            <div class="campo-label">
                <span class="material-symbols-outlined icono">
                    business_center
                </span>
                <label>Línea de negocio</label>
            </div>
            <select>
                <option>Seleccionar...</option>
                <option>Crédito DxN</option>
                <option>Captación banca mayorista</option>
                <option>Captación banca minorista</option>
                <option>Vehículos de Fondeo</option>
                <option>Crédito Comercial</option>
                <option>Seguros y Asistencias</option>
                <option>Banca de Gobierno</option>
                <option>Crédito Garantía Líquida</option>
                <option>Cumplimiento</option>
                <option>Varias</option>
            </select>
        </div>
            
            <div class="campo">
            <div class="campo-label">
                <span class="material-symbols-outlined icono">
                    target
                </span>
                <label>Objetivo estratégico</label>
            </div>        
            <input type="text">        
        </div>
    </div>
    <div class="columna">
            <div class="campo">
            <div class="campo-label">
                <span class="material-symbols-outlined icono">
                    person
                </span>
                <label>Solicitante</label>
            </div>        
            <input type="text">        
        </div>
            
            <div class="campo">        
            <div class="campo-label">
                <span class="material-symbols-outlined icono">
                    person
                </span>
                <label>PO (apoyo en el llenado)</label>
            </div>        
            <input type="text">        
        </div>

            <div class="campo tipo-iniciativa campo-tipo-iniciativa">
                <div class="campo-label">
                    <span class="material-symbols-outlined icono">
                        flag
                    </span>
                    <label>Tipo de iniciativa</label>
                </div>
                
                <div class="opciones-tipo">
                    <label class="opcion opcion-estrategica">
                        <span>Estratégica</span>                    
                        <input
                            type="radio"
                            name="tipo-iniciativa"
                            value="Estrategica">
                    </label>                    
                    <label class="opcion opcion-transformacion">
                        <span>Transformación</span>                    
                        <input
                            type="radio"
                            name="tipo-iniciativa"
                            value="Transformacion">
                    </label>                    
                    <label class="opcion opcion-regulatoria">
                        <span>Regulatoria</span>                    
                        <input
                            type="radio"
                            name="tipo-iniciativa"
                            value="Regulatoria">
                    </label>
                    <label class="opcion opcion-continuidad">                    
                        <span>Continuidad Operativa</span>                    
                        <input
                            type="radio"
                            name="tipo-iniciativa"
                            value="Continuidad Operativa">                    
                    </label>
                </div>
            </div>
            <div class="campo campo-planeada">
                <div class="campo-label">
                    <span class="material-symbols-outlined icono">
                        fact_check
                    </span>
                    <label>¿Fue planeada?</label>
                </div>
                <div class="opciones-tipo">
                    <label class="opcion opcion-si">
                        <span>Sí</span>
                        <input
                            type="radio"
                            name="planeada"
                            value="Si">
                    </label>
                    <label class="opcion opcion-no">
                        <span>No</span>
                        <input
                            type="radio"
                            name="planeada"
                            value="No">
                    </label>
                </div>
            </div>        
        </div>
    </div>
</div>
        
<div class="seccion-card">
    <div class="seccion-titulo seccion-b">
        <div class="seccion-letra">
            B
        </div>
        <h2>ENTENDIMIENTO DE LA NECESIDAD</h2>
    </div>
    <div class="problema-layout">
        <div class="problema-card">
            <div class="problema-header">
                <span class="material-symbols-outlined icono">
                    description
                </span>
                <div>
                    <h3>Situación actual</h3>
                    <p>
                        Describa cómo se realiza actualmente el proceso o actividad.
                    </p>
                </div>
            </div>
            <textarea rows="4"></textarea>
        </div>
        
        <div class="problema-card">
            <div class="problema-header">
                <span class="material-symbols-outlined icono">
                    warning
                </span>
                <div>
                    <h3>Dolor identificado</h3>
                    <p>
                        ¿Qué problema genera la situación actual?<br>
                        ¿Qué impacto tiene para clientes, usuarios o negocio?
                    </p>
                </div>
            </div>
            <textarea rows="4"></textarea>
        </div>
        <div class="problema-card">
            <div class="problema-header">
                <span class="material-symbols-outlined icono">
                    psychology
                </span>
                <div>
                    <h3>¿Qué se necesita?</h3>
                    <p>
                        Describa la necesidad o capacidad que se requiere incorporar.
                    </p>
                </div>
            </div>
            <textarea rows="4"></textarea>
        </div>        
            </div>
        <h3 class="subtitulo-procesos">        
            Procesos y subprocesos impactados      
        </h3>
        <table class="tabla-procesos">
        <thead>
            <tr>
                <th>Proceso</th>
                <th>Subproceso</th>
                <th>Descripción general</th>
            </tr>
        </thead>
        <tbody id="procesos-impactados">
            <tr>
                <td>
                    <select>
                        <option>Seleccionar...</option>
                        <option>ORIGINACIÓN DxN</option>
                        <option>ORIGINACIÓN CAPTACIÓN</option>
                        <option>VENTA ASISTIDA</option>
                        <option>CSB PROMOTOR</option>
                        <option>PUC</option>
                        <option>APP DE INVERSIONES</option>
                        <option>SPEI</option>
                        <option>PROCESOS CORE</option>
                        <option>BANCA POR INTERNET</option>
                        <option>ATENCIÓN AL CLIENTE</option>
                    </select>
                </td>
                <td>
                    <input type="text">
                </td>
                <td>
                    <textarea
                        class="descripcion-proceso"
                        oninput="autoExpand(this)">
                    </textarea>
                </td>
            </tr>
        </tbody>
    </table>
        <div class="acciones-tabla">    
        <button
            type="button"
            class="btn-agregar"
            onclick="agregarProceso()">    
            ＋ Agregar proceso    
        </button>    
    </div>
</div>  
    
</div>
<div class="seccion-card">
    <div class="seccion-titulo seccion-d">
        <div class="seccion-letra">
            D
        </div>
        <h2>BENEFICIOS ESPERADOS</h2>
    </div>

<!-- FILA SUPERIOR -->
<div class="beneficios-grid-superior">
    <!-- Cuantitativos -->
    <div>
        <div class="beneficio-card">
            <div class="beneficio-header">
                <span class="material-symbols-outlined icono-beneficio">
                    bar_chart
                </span>
                <h3>Beneficios cuantitativos</h3>
            </div>
            <table class="tabla-beneficios">
                <thead>
                    <tr>
                        <th>Beneficio</th>
                        <th>Valor esperado</th>
                    </tr>
                </thead>
                <tbody id="beneficios-cuantitativos">
                </tbody>
            </table>
        </div>
        <div class="acciones-tabla">
            <button
                type="button"
                class="btn-agregar"
                onclick="agregarBeneficioCuantitativo()">
                ＋ Agregar
            </button>
        </div>
    </div>
    <!-- Cualitativos -->
    <div>
        <div class="beneficio-card">
            <div class="beneficio-header">
                <span class="material-symbols-outlined icono-beneficio">
                    grade
                </span>
                <h3>Beneficios cualitativos</h3>
            </div>
            <table class="tabla-beneficios">
                <thead>
                    <tr>
                        <th>Beneficio</th>
                    </tr>
                </thead>
                <tbody id="beneficios-cualitativos">
                </tbody>
            </table>
        </div>
        <div class="acciones-tabla">
            <button
                type="button"
                class="btn-agregar"
                onclick="agregarBeneficioCualitativo()">
                ＋ Agregar
            </button>
        </div>
    </div>
</div>
<!-- KPI DEBAJO -->
<div class="kpi-container">
    <div class="beneficio-card">
        <div class="beneficio-header">
            <span class="material-symbols-outlined icono-beneficio">
                track_changes
            </span>
            <h3>KPI objetivo</h3>
        </div>
        <table class="tabla-beneficios">
            <thead>
                <tr>
                    <th>Indicador</th>
                    <th>Situación actual</th>
                    <th>Meta esperada</th>
                </tr>
            </thead>
            <tbody id="kpis">
            </tbody>
        </table>
    </div>
    <div class="acciones-tabla">
        <button
            type="button"
            class="btn-agregar"
            onclick="agregarKPI()">
            ＋ Agregar
        </button>
    </div>
</div>
<div class="seccion-card">
    <div class="seccion-titulo seccion-e">
        <div class="seccion-letra">
            E
        </div>
        <h2>NECESIDADES FUNCIONALES</h2>
    </div>
    <p class="subtexto-seccion">
        Liste las capacidades o funcionalidades que se requieren en la solución.
    </p>
    <table class="tabla-necesidades">
        <thead>
            <tr>
                <th style="width:80px;">ID</th>
                <th>Necesidad funcional</th>
            </tr>
        </thead>
        <tbody id="necesidades-funcionales">
        </tbody>
</table>
<div class="acciones-tabla">
    <button type="button"
            class="btn-agregar"
            onclick="agregarNecesidadFuncional()">
        ＋ Agregar necesidad
    </button>
</div>
</div>
<div class="seccion-card">
    <div class="seccion-titulo seccion-f">
        <div class="seccion-letra">
            F
        </div>
        <h2>HISTORIAS DE USUARIO</h2>
    </div>
    <table class="tabla-hu">
        <thead>
            <tr>
                <th style="width:70px;">
                    ID
                </th>
                <th style="width:40%;">
                    Historia de Usuario
                </th>
                <th style="width:60%;">
                    Criterios de aceptación
                </th>
            </tr>
        </thead>
        <tbody id="historias-usuario">
        </tbody>
    </table>
    <div class="acciones-tabla">
        <button type="button"
                class="btn-agregar"
                onclick="agregarHU()">
            ＋ Agregar HU
        </button>
    </div>
</div>
</div>
<div class="acciones-finales">
    <button
        type="button"
        class="btn-guardar">
        <span class="material-symbols-outlined">
            save
        </span>
        Guardar borrador
    </button>
    <button
        type="button"
        class="btn-pdf"
        onclick="exportarPDF()">
        <span class="material-symbols-outlined">
            picture_as_pdf
        </span>
        Exportar PDF
    </button>
</div>

<script src="css/js/header.js"></script>
<script src="css/js/views.js"></script>
<script>
    cargarHeader("menu-sow");
    cargarVista("home");
</script>
<script src="css/js/navigation.js"></script>
</body>
</html>
