    <div class="header pdf-header">    
        <div class="logo-sn">
    <svg
        viewBox="0 0 100 100"
        width="54"
        height="54"
        xmlns="http://www.w3.org/2000/svg">
        <!-- arco blanco -->
        <path
            d="M72 22
               A35 35 0 1 1 28 72"
            fill="none"
            stroke="#FFFFFF"
            stroke-width="16"
            stroke-linecap="round"/>
        <!-- arco naranja -->
        <path
            d="M22 32
               A28 28 0 0 1 48 20"
            fill="none"
            stroke="#F56A00"
            stroke-width="16"
            stroke-linecap="round"/>
    </svg>
</div>  
            <div class="titulo-header">
                Soluciones de Negocio
            </div>    
        <nav class="menu-principal">
            <div id="menuContenido">
                <a href="#" class="nav-icon">
                    <span class="material-symbols-outlined">
                        home
                    </span>
                    <span class="menu-texto">
                        Home
                    </span>
                </a>
                <a href="#" class="nav-icon activo">
                    <span class="material-symbols-outlined">
                        description
                    </span>
                    <span class="menu-texto">
                        Nuevo SOW
                    </span>
                </a>
                <a href="#" class="nav-icon">
                    <span class="material-symbols-outlined">
                        history
                    </span>
                    <span class="menu-texto">
                        Historial
                    </span>
                </a>
                <a href="#" class="nav-icon">
                    <span class="material-symbols-outlined">
                        admin_panel_settings
                    </span>
                    <span class="menu-texto">
                        Administración
                    </span>
                </a>
                <div class="menu-separador"></div>
                <a href="#" class="nav-login">
                    <span class="material-symbols-outlined">
                        login
                    </span>
                    <span>
                        Ingresar
                    </span>
                </a>
            </div>
            <a href="#"
               id="btnMenu"
               class="nav-icon nav-hamburguesa">
                <span class="material-symbols-outlined">
                    menu
                </span>
            </a>
        </nav>
</div>  
